Source: stackstorm-capacity
Section: unknown
Priority: extra
Maintainer: Nina Shulman <ninas@saasbook.com>
Build-Depends: debhelper (>= 8.0.0)
Version: 1.0-1
Standards-Version: 3.9.2
Homepage: www.stackstorm.com
Package: stackstorm-capacity
Architecture: any
Depends: 
Description: stackstorm-capacity deb packaging
